/* Bootstrap overrides */
body {
  background-color: rgb(247, 255, 130);
}

/* Button styles */
.pokemon-button {
  background-color: rgb(250, 94, 94);
  border: 2px solid #333;
  padding: 10px;
  margin: 10px;
  color: #4f54f8; 
  text-shadow: -1.5px -1.5px 0 #333;
  border-radius: 5px;
  cursor: pointer; 
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pokemon-button:hover {
  background-color: beige;
  transform: scale(1.1);
}

/* List styles */
.pokemon-list {
  border: 2px solid #333;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

/* Modal styles (Bootstrap will handle this) */

/* Close button styles (Bootstrap will handle this) */
