body {
    background-color: rgb(190, 230, 226);
}
.pokemon-button {
    background-color: lightgray;
    border: 2px solid gray;
    margin: 5px;
    color:black;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.pokemon-button:hover{
    background-color: beige;
}
ul {
    list-style-type: none;
}